<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
 <generatorConfiguration>
    <classPathEntry location="C:\eGovFrameDev-3.7.0-64bit\workspace\DreamShop\src\main\webapp\WEB-INF\lib\mysql-connector-java-5.1.47.jar" />
    <context id="DreamShop" defaultModelType="flat">
        <commentGenerator>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/dream_shop" userId="root" password="1234" />

        <javaModelGenerator targetPackage="com.portfolio.dreamshop.vo" targetProject="DreamShop/src/main/java" />
        <sqlMapGenerator targetPackage="com.portfolio.dreamshop.mapper" targetProject="DreamShop/src/main/java" />

        <table tableName="user" domainObjectName="User" />
        <table tableName="sell" domainObjectName="Sell" />
        <table tableName="picture" domainObjectName="Picture" />
        <table tableName="category" domainObjectName="Category" />
        <table tableName="admin" domainObjectName="Admin" />
        <table tableName="board" domainObjectName="Board" />
        <table tableName="cmt" domainObjectName="Cmt" />
    </context>
</generatorConfiguration>